<% include partials/header %>

<h1>
	Search for a Movie!
</h1>

<form action='\results' method='GET' class = 'home'>
	<input type='text' placeholder='Movie Name' name='search'>
	<br>
	<input type='submit'>
</form>

<% include partials/footer %>